{% extends '../base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/point.css' %}">
    <script type="text/javascript" src="{% static 'js/point.js'%}"></script>


    <div class="main-container">
        <div class="menu-container">
            <button onclick="show_d1()">충전하기</button>
            <button onclick="show_d2()">충전내역</button>
            <button onclick="show_d3()">사용내역</button>
            <button onclick="show_d4()">포인트 안내</button>

        </div>

        <div class="menu">
            <div class="box" id="d1">
                충전하기 텍스트
                <div>
                    <input type="radio" id="100" name="point" value="100">
                    <label for="100">100 point</label>
                </div>
                <div>
                    <input type="radio" id="500" name="point" value="500">
                    <label for="500">500 point</label>
                </div>
                <div>
                    <input type="radio" id="1000" name="point" value="1000">
                    <label for="1000">1000 point</label>
                </div>
                <div>
                    <input type="radio" id="5000" name="point" value="5000">
                    <label for="5000">5000 point</label>
                </div>
                <button type="submit">충전하기</button>
            </div>
            <div class="box" id="d2" style="display: none">충전내역 텍스트</div>
            <div class="box" id="d3" style="display: none">사용내역 텍스트</div>
            <div class="box" id="d4" style="display: none">포인트안내 텍스트</div>

        </div>
    </div>

{% endblock %}
