<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <body>
    <input id='file-input' type="file">
    <button onclick="test()">테스트</button>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    function test() {
      let original_image = ''
      let nst_image = ''

      let file = $('#file-input')[0].files[0]
      let form_data = new FormData()
      form_data.append('key', 'aa')
      form_data.append('img', file)
      $
        .ajax({
          type: 'POST',
          url: 'http://127.0.0.1:8080/api/v1/upload',
          data: form_data,
          crossDomain: true,
          contentType: false,
          cache: false,
          processData: false,
          success: function (response) {
            form_data.delete('key')
            form_data.delete('img')
            form_data.append('original_file_url', response.original_file_url)
            form_data.append('nst_file_url', response.file_url)
          }
        })
        .then(function (response) {
          $.ajax({
            type: 'POST',
            url: "{% url 'api-1.0.0:file' %}",
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function (response) {
              console.log(response)
            }
          })
        })

    }
  </script>

</html>
