{% extends 'base.html' %}

{% block page_title %}
  profile
{% endblock page_title %}
{% block content %}
  <div class="md:container md:mx-auto mt-16 h-full flex justify-around items-center">
    <div id="picture-box" class="h-[40rem] flex flex-col justify-center items-center">
      <img id="picture-img" class="bg-cover bg-center w-96 h-64 rounded-md" src="https://bondar-bucket.s3.ap-northeast-2.amazonaws.com/picture/Fire.jpeg" alt="">
      <div id="picture-option" class="w-full mt-5">
        {% include 'components/picture_list.html' %}
      </div>
    </div>
    <div id="user-image-box">
      <div id="card-container" class="">
        <label for="file-input">
          <img id="user-img" class="bg-cover bg-center w-80 h-96 cursor-pointer rounded-md" src="#" alt="">
          <input id='file-input' type="file" class="hidden">
        </label>
      </div>
    </div>
  </div>
  <div class="flex justify-center items-center text-white">
    <button onclick="image_url()" class="mainColor rounded-md w-32 h-12 flex justify-center items-center">
      <span id="change-btn-text">변경하기</span>
      <svg id="loader" xmlns="http://www.w3.org/2000/svg" class="hidden animate-bounce h-6 w-6" fill="none" viewbox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"/>
      </svg>
    </button>
  </div>
  <script>
    $(document).ready(function () {
      get_image()
    });

    function get_image() {
      const user_id = "{{ user.id }}";
      $.ajax({
        type: "GET",
        url: `http://localhost:8000/api/v1/images/${user_id}`,
        contentType: false,
        cache: false,
        processData: false,
        success: function (response) {
          $("#user-img").attr("src", response.nst_image_url);
        }
      });
    }

    function image_url() { // nst server 에 이미지 변환 요청하는 함수
      let original_image_url = ''
      let nst_image_url = ''

      let form_data = new FormData();
      let text = document.querySelector('#main-text');
      const file = $('#file-input')[0].files[0];
      text = text
        .innerHTML
        .replace(/\s/g, '')
      //file이름과 file을 formdata 로 변환
      form_data.append('key', '{{ user.id}}');
      form_data.append('type', text)
      form_data.append('img', file);
      $
        .ajax({ //nst 서버에서 장고닌자로 만들었던 api upload 주소에 formdata와 함께 보낸다
          type: 'POST',
          url: 'http://127.0.0.1:8080/api/v1/upload',
          data: form_data,
          crossDomain: true,
          contentType: false,
          cache: false,
          processData: false,
          beforeSend: function () {
            $('#change-btn-text').addClass('hidden')
            $('#loader').removeClass('hidden')
          },
          success: function (response) { // 성공적으로 response를 받으면 formdata를 url 받은걸로 수정
            form_data.delete('key')
            form_data.delete('type')
            form_data.delete('img')
            form_data.append('user_id', '{{ user.id }}')
            form_data.append('original_image_url', response.original_image_url)
            form_data.append('nst_image_url', response.nst_image_url)
            $("#user-img").attr("src", response.nst_image_url); // nst url을 바로 넣어준다
          },
          complete: function () {
            $('#change-btn-text').removeClass('hidden')
            $('#loader').addClass('hidden')
          }
        })
        .then(function (response) { //then은 위에 ajax가 끝나면 바로 시작하는 함수
          $.ajax({ // 바로 ajax를 실행해서 여기 서버에서 만든 file url 저장하는 api에 데이터와 함께 보낸다
            type: 'POST',
            url: "{% url 'api-1.0.0:update_file' %}",
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function (response) {
              console.log(response)
            }
          })
        })
    }
  </script>
{% endblock %}
