.user_container {
    display: flex;
    justify-content: center;
}
.user_card_wrapper {
    background-color: #ffa5ab;
    max-width: 70%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}