{% extends 'base.html' %}
{% block background %}
    <div>
        <div id='background'>
            <div class='mask'></div>
        </div>
    </div>
{% endblock %}
{% block content %}
    {% for ul in user_list %}
        {% if ul.id != user.id %}
            <div class="card">
            <div class="card-body">
                {% if ul not in user.friend.all %}
                    {% include "components/user_card.html" with url=user_img.nst_img_url user=user.username id=ul.id %}
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}

