{% load static %}

<div id="card-container"
     style="margin: 5rem; background-color: white; border: #243140 solid 3px; border-radius: 30px; width: 400px; height: 500px">
    <img id="user-img" class="bg-cover bg-center w-full h-70" src="{{ ul.1.0.nst_image_url }}"
          style="border-top-left-radius: 25px; border-top-right-radius: 25px;">
    <p id="ul-id" class="w-80" style="margin-left: 50px; font-size: 25px">{{ ul.0.username }}</p>
    <div id="icon-box" class="w-full flex justify-center">
        <div class="w-[3.6rem] mt-5" style="margin-top: 1px">
            <a href="{% url 'api_create_room' ul.0.id %}">
                <img src="{% static 'img/empty_chat.png' %}" onmouseover="this.src='../static/img/chat.png'"
                     onmouseout="this.src='../static/img/empty_chat.png'">
            </a>
        </div>
    </div>
</div>