<nav class="mainColor w-full fixed top-0 left-0 z-10" style="z-index: 1;">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center">
        <img src="/static/img/logo.png" alt="" width="60" height="60" class="d-inline-block align-text-top">
        <img src="/static/img/bondar1.png" alt="" width="80" class="d-inline-block align-text-top">
      </div>

    </div>
  </div>
</nav>