{% load static %}
{% if user_list.0.id %}
    <div class="card-container" style="display: flex; flex-direction: column; margin-top: 230px; margin-right: 140px">
        <img id="user-img" style="margin-top: 60px"
             src=""
             alt="">
        <p class="ul-email">{{ email }}</p>
        <p class="ul-email">{{ id }}</p>
        <p class="ul-email">{{ username }}</p>
        <div id="icon-box" class="w-full flex justify-between mt-5">
            <div id="hate_button" class="w-[3rem]" style="margin-top: 8px">
                <a href="hate/{{ user_list.0.id }}">
                    <img src="{% static 'img/empty_broken_heart.png' %}"
                         onmouseover="this.src='../static/img/broken_heart.png'"
                         onmouseout="this.src='../static/img/empty_broken_heart.png'">
                </a>
            </div>
            <div id="like_button" class="w-[3.6rem]">
                <a href="like/{{ user_list.0.id }}">
                    <img src="{% static 'img/empty_heart.png' %}" onmouseover="this.src='../static/img/heart.png'"
                         onmouseout="this.src='../static/img/empty_heart.png'">
                </a>
            </div>
        </div>
    </div>
{% endif %}