<div id="sideNav" class="fixed top-0 left-0 w-72 h-screen bg-slate-300">
  <div class="h-full mt-16 flex flex-col justify-between pb-16">
    <div id="user-container">
      <ul class="p-1">
        <div>변경</div>
        <li class="navBtn">유저 정보 변경</li>
        <li class="navBtn">프로필 사진 변경</li>
        <div>좋아요</div>
        <li class="navBtn">나를 좋아요 한 유저</li>
        <li class="navBtn">내가 좋아요 한 유저</li>
        <div>포인트</div>
        <li class="navBtn">포인트 조회 및 충전</li>
      </ul>
    </div>
    <div id="bondar-container">
      <ul class="p-1">
        <li class="navBtn">홈으로</li>
        <li class="navBtn">로그아웃</li>
        <li class="navBtn">계정 삭제하기</li>
      </ul>
      <div class="flex justify-between p-1">
        <div>We are Bondar</div>
        <div>V 1.0.0</div>
        <div>도움말</div>
      </div>
    </div>
  </div>
</div>
