{% extends '../user/start_base.html' %}
{% block css %}
<link rel="stylesheet" href='../static/css/signup.css'>
<title>{% block page_title %}Sign-in{% endblock page_title %} | Bondar</title>
{% endblock css%}
{% block content %}
  <div class="wrapper">
    <div class="login-content">
      <div class="form-content">
        <img src="/static/img/logo.png" alt="" width="100" height="80" class="d-inline-block align-text-top">
        <h3>bondar에 오신 것을 환영합니다!</h3>
        <h4 class="mt-3"style="font-size:20px">
          로그인하면 bondar의 이용약관에<br>
          동의하는 것으로 간주됩니다 :)
        </h4>
        <div class="form-data">
          <form method="post" action='/sign-in/'>
            {% csrf_token %}
            <div class="form-floating mb-3 input">
              <label for="floatingInput">이메일</label>
              <input type="email" class="form-control auth-input" id="email" name="email" placeholder="이메일"/>
            </div>
            <div class="form-floating mb-3 input">
              <label for="floatingInput">비밀번호</label>
              <input type="password" class="form-control auth-input" id="password" name="password" placeholder="비밀번호"/>
            </div>
            <div class = "error-message">{{ error }}</div>
            <div class="btn-wrapper">
              <button class="btn-signup" style="padding:10px 15px 10px 15px;">로그인</button>
            </div>
          </form>
        </div>
      </div>
      <div class="second-form-content d-flex flex-column justify-content-end">
        <div class="join">
          <div style="margin:20px 5px 15px 0; font-size:20px">bondar 회원이 아니신가요?<br>
            <a href="/sign-up" class="sign-up-font" style="color:#FF4F59; font-size:17px">지금 가입하세요.</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
